@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

h1, h2, p{
    color: #fff;
}

main{
   background: url('../images/Mlp_Hero_Br_&_Rola_Desktop_v2.jpg');
   width: 100vw;
   height: 100vh;
   background-size: cover;
}

.container{
    padding-top: 12rem;
    padding-left: 5rem;
}

.container .log__in{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 11rem;
    right: 2rem;
}

.container .log__in button{
    border: 1px solid #fff;
    background-color: #1e2027;
    padding: 0.65rem 0.875rem;
    border-radius: 5px;
    transition: 300ms;
}

.container .log__in button:hover{
    background-color: #fff;
}

.container .log__in a:hover{
    color: #1e2027;
}

.container .log__in a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.content{
    display: flex;
    align-items:flex-start;
    justify-content: start;
    flex-direction: column;
}

.main_text{
    margin: 1% 0;
    padding-right: 75rem;
    font-size: 3.5em;
}


.teste{
    display: flex;
    align-items: start;
    justify-content: start;
}

.teste-2{
    display: flex;
    align-items: start;
    justify-content: start;
}

.btn{
     background-color: #0063e5;
     padding: 1rem 5rem;
     border-radius: 5px;
     margin-top: 0.5rem;
     color: #fff;
     text-decoration: none;
     font-size: 1.5em;
 }

 .btn:last-of-type{ 
    margin-left: 2rem;
}

.btn:hover{
    background-color: #0285f7;
    color: #000;
}

.text h2{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.text p{
  font-size: 0.650em; 
  margin-right: 12.5rem;
  margin-bottom: 0.1rem;
  color: #a5a6a9;
}

.text .teste .p_year{
    margin-left: -2.8rem;
  }

.teste .gg{
    margin-left: 0%;
}

.text .text_end{
    margin: 1.25rem 0 1rem 0;
    font-size: 0.8em;
    color: gray;
}

.logo{
    width: 9vw;
}

.content .logo_brands{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 34vw;
}

.end{
    margin-top: 12rem;
}